body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: radial-gradient(circle, rgb(235, 244, 245), rgb(103, 183, 236));
}
.heading{
    text-align: center;
}
.box{
    width: 600px;
    height: 580px;
    background-color: rgb(147, 152, 228);
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: black;
}
.info{
    position: absolute;
    width: 300px;
    top: 300px;
    left: 40%;
    right: 46%;
    text-align: center;
}
.inputField{
    height: 50px;
    width: 300px;
    border-radius: 5px;
}
